* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
#wrapper{
	width: 970px;
	border: 1px solid black;
	margin: 0px auto;
	background-color: white;
}